* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
}

body {
}

.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 51.3rem;
  padding: 0.8rem;
}
.meme {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transition: all linear 1s;
  color: #3396ff;
}

.meme__label {
  display: flex;
  flex-direction: column;
  height: auto;
}

.meme__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.6rem;
}

.meme__title {
  font-size: 2rem;
  padding: 10px 0;
  transition: color linear .3s;
}

.cross {
  width: 1.5rem;
  height: 1.5rem;
  background: url(./images/cross.svg);
  opacity: 1;
  transition: opacity linear .3s;
}

.meme__input {
  width: 0;
  height: 0;
}

.meme__image {
  align-self: center;
  /* width: 0; */
  width: 100%;
  max-width: 0;
  max-height: 0;
  opacity: 0;
  border-radius: 17%;
  transition: all linear .3s;
}


.meme__input:checked + .meme__label >  .meme__image {
  max-height: 30rem;
  max-width: 30rem;
  opacity: 1;
}

.meme__input:checked + .meme__label {
  color: black;
}


.meme__input:checked + .meme__label .meme__info .cross {
  transform: rotate(45deg)
}






@media (min-width: 510px) {
  

  


}

@media (min-width: 820px) {

  .meme {
    cursor: pointer;
  }

  .meme__label {
    cursor: pointer;
  }

  .cross {
    opacity: 0;
  }

  .container:hover .meme__label {
    color: black;
  }

  .container:hover .meme__label .meme__info .cross {
    opacity: 1;
  }

  .meme:hover .meme__label >  .meme__image {
    max-height: 30rem;
    max-width: 30rem;
    width: 100%;
    opacity: 1;
  }


}

